/* Hide menu items and show toggle button on smaller screens */

/* @media (min-width: 1440px) {
  ha tre rader med blogposts. mobilvisning. bilde øverst og tekst under
} */

@media (min-width: 1024px) {
  :root {
    --font-size-p: 1.125rem;
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.9rem;
    --font-size-h3: 1.75rem;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 70rem 1fr;
  }

  footer {
    height: 500px;
    justify-content: center;
  }

  .navigation a {
    padding: 1rem;
  }
  .navigation a:hover {
    border-radius: 10px 10px 0 0;
  }
  .text-container {
    border-left: solid 3px var(--red);
    padding-left: 2rem;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  :root {
    --font-size-p: 1rem;
    --font-size-h1: 1.875rem;
    --font-size-h2: 1.625rem;
    --font-size-h3: 1.375rem;
  }

  body {
    min-height: 200vh;
    display: grid;
    grid-template-columns: 10rem 1fr;
    max-height: 100vh;
    margin: 0;
  }

  header {
    grid-row: 1;
    grid-column: auto !important;
    position: sticky;
    top: 0;
    height: 100%;
  }

  .header-content {
    align-items: left;
    flex-direction: column;
    justify-content: start;
  }

  .header-logo {
    margin: 2rem auto;
  }
  .header-logo img {
    height: 100px;
    margin: 0;
  }

  .navigation {
    flex-direction: column;
    gap: 2rem;
    text-align: right;
    margin-top: 5rem;
    position: fixed;
    width: 10rem;
    left: 0;
  }
  .navigation a {
    padding-block: 1rem;
  }
  .navigation a:hover {
    background-color: none;
  }
  nav a.active {
    border-radius: 20px 0 0 20px;
  }
  main {
    grid-row: auto !important;
    grid-column: auto !important;
  }

  .hero-banner {
    min-width: calc(100vw - 10rem);
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .blog-post-container {
    min-width: 80%;
    max-width: 80%;
    border-top: none;
  }

  .blog-post-text-container {
    border-left: solid 3px var(--red);
    font-size: 1.1rem;
    width: 80%;
    margin: 0 auto;
  }

  .blog-post-img {
    max-width: 60%;
    border-radius: 12px;
  }
  .calendar {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .enkelkalender {
    width: 80%;
    margin: auto;
  }
  .text-container {
    border-top: solid 3px var(--red);
    padding-left: 2rem;
  }
}

@media (max-width: 500px) {
  :root {
    --font-size-p: 0.875rem;
    --font-size-h1: 1.5rem;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1.125rem;
  }

  header {
    display: block;
  }

  .header-content {
    display: block;
    height: 100px;
  }

  .menu-toggle {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1000;
    background: transparent;
    border: none;
    color: var(--light);
  }

  .navigation {
    display: none;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 998;
    transition: max-height 0.3s ease-out, opacity 1ms ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
  }

  .navigation a {
    padding: 1rem;
  }
  .navigation li {
    color: var(--light);
    background-color: var(--red);
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    z-index: 999;
    max-height: 500px;
    opacity: 1;
  }

  nav a.active {
    border-radius: 0;
  }

  .fa-bars,
  .fa-xmark {
    font-size: var(--font-size-h1);
    transition: opacity 0.3s ease-out;
    opacity: 1;
  }

  /* Hero banner */
  .hero-banner {
    width: 100%;
    height: 100svh;
    margin: 0;
    padding: 0;
  }

  .text-container {
    border-left: none;
    border-top: 5px solid var(--red);
    margin-top: 0 !important;
    padding: 0 10px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  /* Carousel */
  .slider {
    height: 60svh !important;
  }

  /* Blog-posts styling */
  .blog-posts,
  .blog-details {
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: column;
  }
  /* 
  .blog-post-container,
  .blog-post-specific {
    flex-wrap: wrap;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }

  .blog-post-img,
 
    border-radius: 12px 12px 0 0;
  } */

  .specific-img {
    width: 90%;
  }

  .blog-post-text-container {
    border-left: none;

    font-size: 1.1rem;
  }

  .blog-post-preamble {
    font-size: 1rem;
  }

  .blog-post-date {
    text-align: left;
    margin-bottom: 10px;
  }

  .blog-post-button {
    width: 50%;
    font-weight: 500;
    margin: 0 auto;
  }
  .calendar {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .treningskalender {
    height: 80svh;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
  }

  .modalContent {
    max-width: 50%;
    max-height: 50%;
  }

  footer {
    flex-direction: column;
    /* height: 100%; */
  }

  /* .footer-info {
  } */
}

@media (max-width: 500px) {
  .social-media {
    flex-wrap: wrap;
  }
}
