/* @media (max-with: 40rem) */
/* Style for the navigation menu */
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* More styles for navigation items */
}
.menu-toggle {
    display: none; /* Hidden by default on larger screens */
    
}


/* Hide menu items and show toggle button on smaller screens */
@media screen and (max-width: 600px) {
    .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: fixed; /* Keep the button fixed in place */
    top: 20px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 100; /* Ensure it's above other elements */
    }

    .navigation {
        display: none; /* Hide navigation on smaller screens */
    }

    .navigation li {
        width: 100%; /* Full width for each item */
    }
    .navigation.open {
        display: flex; /* Show navigation when class 'open' is added */
        flex-direction: column;
    }
}

/* Style navigation links */
.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

/* Hover effect for links */
.navigation a:hover {
    background-color: #f4f4f4;
}
