/* colors, fonts soft touches, Typography */
:root {
  --padding: 1rem;
  --primary: #cd0010;
  --secondary: #800000;
  --black: #000000;
  --light: #ffffff;
  --variant_of_black: #181414;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* color: var(--primary); */
  text-decoration: none;
}

body {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
}
