/* colors, fonts soft touches, Typography */
:root {
  --padding: 1rem;
  --red: #cd0010;
  --cherry-red: #800000;
  --black: #000000;
  --light: #ffffff;
  --variant_of_black: #181414;
  --alert: red;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}

body {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond,
    "Times New Roman", serif;
}

header,
footer {
  font-family: "DM Mono", monospace;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
}
