/* Header, Footer, navigation, alerts, pop ups */

header,
footer {
  font-family: "DM Mono", monospace;
}

header {
  background-color: var(--primary);
  text-transform: uppercase;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 80%;
}

/* Navigation */
header .navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--padding);
}
header .navigation a {
  text-decoration: none;
  color: var(--light);
}

#main-nav ul {
  list-style-type: none;
  /* More styles here */
}

/* Hidden state */
#main-nav ul.hidden {
  display: none;
}

/* Visible state */
#main-nav ul.visible {
  display: block;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 60rem;
}

footer {
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--variant_of_black);
  color: var(--light);
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

/* Hjemmside velkommen: sjekk ut youtube om outbreak kan passe her */
.hero {
  position: relative;
  width: 100vw; /* Set width relative to the viewport width */
  max-width: none; /* Override max-width */
  margin-left: calc(-50vw + 50%); /* Center the element */
}

.hero img {
  max-height: 40rem;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.herotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust for precise centering */
  color: var(--light);
  text-shadow: 0px 0px 8px #000000; /* Optional text shadow for readability */
  /* Add any other styles for your text */
}

iframe {
  height: 30rem;
  width: 100%;
  border-radius: 10px;
}

iframe.map {
  width: 70%;
  height: 70%;
}

.error-message {
  border: 1px solid var(--alert);
  padding: var(--padding);
  color: var(--light);
  background: var(--alertbackground);
}

/* Blog posts */
.blogposts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: var(--padding);
}

.blog-container {
  max-width: 90%;
  display: block;
  /* background-color: var(--variant_of_black); */
  color: var(--black);
  border-radius: 30px 30px 0 0;
  justify-content: center;
  padding: 3px;
}

.blog-container img {
  max-width: 100%;
  border-radius: 30px 30px 0 0;
}

.blog-text {
  background-color: var(--variant_of_black);
  color: var(--light);
  padding: var(--padding);
  border-top: solid 5px var(--primary);
}

/* .blog-time {
} */

/* The loader is from www.... */
.lds-spinner {
  color: var(--primary);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--primary);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
