/* --------------------------- UTILITIES---------------------------  */
body {
  margin: 0;
  background: var(--light);
  box-sizing: border-box;
  min-height: 100vh;
}

header {
  grid-row: 1;
  grid-column: 1 / -1;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 500;
  background-color: var(--red);
  text-transform: uppercase;
  height: 100px;
  width: 100%;
  justify-content: center;
}

main {
  grid-row: 2;
  grid-column: 1 / -1;
  margin: 0 auto;
}

footer {
  grid-row: 3;
  grid-column: 1 / -1;
  position: relative;
  background-color: var(--black);
  color: var(--light);
  display: flex;
}

/* ----------------- Standard Styling ----------------- */
.flex,
.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justified-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.page-content {
  max-width: 70rem;
  margin: 0 auto;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.font-bigger {
  font-size: 150%;
}

.gap {
  gap: 3rem;
}

.padding {
  padding: 2rem;
}

.color-light {
  color: var(--light);
}

.color-dark {
  color: var(--black);
}

.hidden {
  display: none;
}

.text-animation {
  position: relative;
  display: inline-block;
}

.text-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--red);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.text-animation:hover::after {
  transform: scaleX(1);
}

.background-red {
  background-color: var(--red);
}

.max-width {
  max-width: 25rem;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--light);
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.word-wrapping {
  text-wrap: balance;
}

.letter-spacing {
  letter-spacing: 3px;
}
